<hr>
<main>
  <h3>Existed spreadsheets</h3>
  <section class="todo-list">
    <div class="todo-item" *ngFor="let localSpreadsheet of spreadsheets">
      <button class="checkbox icon" (click)="loadSpreadsheet(localSpreadsheet)">
        <i class="material-icons">{{localSpreadsheet.id == spreadsheet?.id ? 'check_box' :
          'check_box_outline_blank'}}</i>
      </button>
      <span class="title">{{localSpreadsheet.name}}</span>
      <div class="actions">
        <button class="checkbox icon" (click)="deleteSpreadsheet(localSpreadsheet)">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
  </section>
  <form class="todo-form" (submit)="addSpreadsheet()" #spreadsheetForm="ngForm">
    <input type="text" placeholder="New name" required [(ngModel)]="spreadsheetName" name="name">
    <button type="submit" [disabled]="spreadsheetForm.form.invalid">Додати</button>
  </form>

  <form class="spreadSheet-form" *ngIf="spreadsheet">
    <h3>{{spreadsheet?.name}}</h3>
    <table>
      <tr *ngFor="let spreadsheetDataRow of spreadsheetData; let row = index;">
        <td *ngFor="let spreadsheetDataCol of spreadsheetDataRow;  let col = index;">
          <input *ngIf="spreadsheetDataCol" value="{{spreadsheetDataCol?.value}}"
                 (change)="updateCell($event, spreadsheetDataCol, spreadsheet)"/>
          <input *ngIf="!spreadsheetDataCol" (change)="addCell($event, spreadsheet, row, col)"/>
        </td>
      </tr>
    </table>
  </form>
</main>

<hr>
<main>
  <h3>Functions by category</h3>
  <span style="padding-bottom: 10px;">Not implemented yet. Only list by category from API.</span>
  <section class="todo-list">
    <div class="todo-item" *ngFor="let functionCategory of functionCategories">
      <b>{{functionCategory.name}}:</b>
      <span *ngFor="let function of functions">
          <ng-container *ngIf="function.functionCategory.name === functionCategory.name ">&nbsp;({{function.name}})
          </ng-container>
        </span>
    </div>
  </section>
</main>
<hr>
